*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: arial;
    background-color: #fff;
}
ul{
    list-style: none;
}
.container{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.topNav{
    width: 100%;
    height: 61px;
    line-height: 61px;
    clear: both;
    font-size: 12px;
    color: #999;
    background-color: #fff;
    border-bottom: 1px solid rgba(237,237,237,.6);
}
.topNav a{
    color: #999;
    text-decoration: none;
}
.topNav a:hover{
    text-decoration: none;
}
.topNav .nav-left{
    float: left;
}
.topNav .nav-right{
    float: right;
}
.topNav .nav-left li,.topNav .nav-right li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.arrow-down{
    width: 9px;
    height: 6px;
    display: inline-block;
    background: url(../images/icon2.png) no-repeat -52px -97px;
}
.arrow-down:hover{
    cursor: pointer;
}
.sun{
    width: 26px;
    height: 20px;
    display: inline-block;
    background: url(../images/icon.png) no-repeat -20px -261px;
}
.nav-right span{
    background-image: url(../images/icon2.png);
    width: 33px;
    height: 60px;
    display: block;
    float: left;
}
.user{
    background-position: -30px -110px;
}
.email{
    background-position: -96px -108px;
}
.browser{
    background-position: -162px -109px;
}
.changeSkin{
    background-position: -244px -108px;
}
.pageContent{
    margin-top: 35px;
}
.inputWrapper{
    width: 820px;
    height: 44px;
    background-image: url(../images/icon2.png);
    background-position: 0px -507px;
    margin: 0 auto;
    position: relative;
}
.search-input{
    position: absolute;
    top: 13px;
    left: 223px;
    width: 450px;
    font-size: 16px;
    border:none;
    outline: none;
}
.type{
    color: #999;
    font-size: 12px;
    position: absolute;
    left: 162px;
    top: 18px;
}
.type > span{
    padding: 0 10px;
}
.type li{
    padding:5px 10px;
}
.inputWrapper button{
    width: 117px;
    height: 44px;
    position: absolute;
    left: 699px;
    background-color: transparent;
    border: none;
}
.inputWrapper button:hover{
    cursor: pointer;
}
.news{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 20px;
    background-color: orangered;
    font-size: 12px;
    position: absolute;
    left: 670px;
    top: 13px;
}
.type-list{
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
    margin-top: 13px;
    margin-left: -3px;
    display: none;
}
.type-list li.active{
    background-color: #ddd;
}
.midNav{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 50px;
}
.midNav li{
    float: left;
    text-align: center;
}
.midNav a{
    display: inline-block;
    height: 16px;
    width: 110px;
    text-decoration: none;
    text-align: center;
    line-height: 16px;
    border-right: 1px solid #eaeaea;
    font-family: Microsoft Yahei;
    color: #333;
}
.midNav .first a{
    width: 79px;
}
.midNav .last a{
    border-right: none;
}
.authority{
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
}
.authority li{
    float: left;
}
.authority li:hover a{
    color: red;
    text-decoration: underline;
}
.authority a{
    width: 92px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #333;
}
.authority .first a{
    width: 79px;
    border-right: 1px solid #eaeaea;
}
.left-content{
    width: 278px;
    float: left;
    margin-right: 10px;
}
.img-slide1 img{
    width: 276px;
    height: 68px;
    border: 1px solid #999;
    margin-bottom: 10px;
}
.small-choice{
    clear: both;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 10px;
    border: 1px solid #ccc;
}
.small-choice li{
    float: left;
    width: 50%;
}
.small-choice a{
    color: #333;
    text-decoration: none;
    padding: 5px 8px;
}
.small-choice span{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background-image: url(../images/icon.png);
}
.video{
    background-position: -20px -81px;
}
.game{
    background-position: -20px -301px;
}
.movie{
    background-position: -20px -161px;
}
.animate{
    background-position: -20px -381px;
}
.current{
    background-position: -20px -101px;
}
.travel{
    background-position: -20px -261px;
}
.caipiao{
    background-position: -20px -21px;
}
.funny{
    background-position: -20px -121px;
}
.sale{
    background-position: -20px -281px;
}
.education{
    background-position: -20px -361px;
}
.img-slide2{
    background-color: rgba(250,250,250,1);
    clear: both;
    height: 35px;
    border: 1px solid #ddd;
}

.img-slide2 li{
    width: 51px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
    -webkit-box-sizing: border-box;
    -box-sizing: border-box;
}
.img-slide2 a{
    text-decoration: none;
    height: 14px;
    line-height: 14px;
    width: 51px;
    display: inline-block;
    border-right: 1px solid #eaeaea;
    color: #777;
}
.img-slide2 img{
    width: 274px;
    height: 68px;
    border: 1px solid #999;
    border-top: none;
}
.img-slide2 .last a{
    border-right: none;
}
.right-content{
    width: 902px;
    margin-left: 288px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.commen{
    padding: 10px 25px;
    overflow: hidden;
}
.commen li{
    width: 139px;
    height: 30px;
    float: left;
    line-height: 30px;
}
.commen a{
    text-decoration: none;
    display: inline-block;
    line-height: 20px;
    color: #333;
}
.commen span{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    vertical-align: bottom;
    background-image: url(../images/logos.png);
    background-repeat: no-repeat;
}
.sina{ background-position: 2px -278px; }
.sohu{ background-position: 2px -318px; }
.tencent{ background-position: 2px -38px; }
.netes{ background-position: 2px -158px; }
.youku{ background-position: 2px -398px; }
.tmall{ background-position: 2px -478px; }
.finix{ background-position: 2px -238px; }
.taobao{ background-position: 2px -358px; }
.freegame{ background-position: 2px -398px; }
.Nba{ background-position: 2px -118px; }
.jd{ background-position: 2px -78px; }
.ju{ background-position: 2px -198px; }
.today{ background-position: 2px -278px; }
.haov{ background-position: 2px -638px; }
.carh{ background-position: 2px -278px; }
.cai{ background-position: 2px -278px; }
.commen img{
    vertical-align: bottom;
}
.mid-ul{
    clear:left;
}
