.midNav{
    border-top: 2px solid #E55F7F;
}
.midNav li.active{
    background-color: #E55F7F;
}
.midNav li.active a{
    color: #fff;
    border-right: none;
}
.midNav li:hover a{
    color: #E55F7F;
}
.authority{
    border: 1px solid rgba(10,167,112,.4);
}
.authority .first a{
    color: #E55F7F;
}
.authority li.first:hover a{
    color: #E55F7F;
    text-decoration: none;
}
.img-slide2 li.active{
    border-top: 1px solid #E55F7F;
}
.img-slide2 li.active a{
    color: #E55F7F;
}
.commen{
    border: 1px solid rgba(229,95,127,.4);
}
.commen li:hover a{
    color: #E55F7F;
}
.guess{
    border: 1px solid rgba(229,95,127,.4);
}
.guess > span{
    background-color:rgba(229,95,127,.4);
}
.one span{
    color: #E55F7F;
}
.one li:hover a{
    color: #E55F7F;
}
