.midNav{
    border-top: 2px solid #8972CE;
}
.midNav li.active{
    background-color: #8972CE;
}
.midNav li.active a{
    color: #fff;
    border-right: none;
}
.midNav li:hover a{
    color: #8972CE;
}
.authority{
    border: 1px solid rgba(10,167,112,.4);
}
.authority .first a{
    color: #8972CE;
}
.authority li.first:hover a{
    color: #8972CE;
    text-decoration: none;
}
.img-slide2 li.active{
    border-top: 1px solid #8972CE;
}
.img-slide2 li.active a{
    color: #8972CE;
}
.commen{
    border: 1px solid rgba(137,114,206,.4);
}
.commen li:hover a{
    color: #8972CE;
}
.guess{
    border: 1px solid rgba(137,114,206,.4);
}
.guess > span{
    background-color:rgba(137,114,206,.4);
}
.one span{
    color: #8972CE;
}
.one li:hover a{
    color: #8972CE;
}
